@import url('https://fonts.googleapis.com/css2?family=Asap:wght@400;700&family=Indie+Flower&family=Karla:wght@400;500;700&family=Oswald:wght@300;400;700&family=Rock+Salt&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

html{
    scroll-behavior: smooth;
}


.max-width{
    max-width: 1300px;
    padding: 0 80px;
    margin: auto;
}


/* navbar styling */
.navbar{
    position: fixed;
    width: 100%;
    padding: 15px 0;
    z-index: 999;
    /* background: v; */
    font-family: 'Karla', sans-serif;
    transition: all 0.3s ease;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.first{
    color: rgb(152, 111, 11);
}
.middle{
    color: rgb(110, 81, 8);
}
.navbar .logo a{
    color: rgb(90, 82, 49);
    font-size: 25px;
    font-weight: 600;
    font-family: 'Rock Salt';
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: rgb(102, 93, 52);
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}
.navbar .menu li a:hover{
    color: rgb(152, 111, 11);
}

/* when the scroll height changes */
.navbar.sticky{
    padding: 30px 0;
    background: rgb(152, 111, 11);
}
.navbar.sticky .logo a,
.navbar.sticky .logo span,
.navbar.sticky .menu li a,
.navbar.sticky .menu-btn{
    color: white;
}
.navbar.sticky .menu-btn:hover,
.navbar.sticky .menu li a:hover{
    color: black;
}



/* menu button styling */
.menu-btn{
    color: rgb(90, 82, 49);
    cursor: pointer;
    font-size: 23px;
    display: none;
}


/* home section start */
.home{
    display: flex;
    /* background: rgb(243, 242, 241); */
    background: url(../img/profile_full.jpg) no-repeat center;
    height: 100vh;
    color: rgb(50, 49, 48);
    font-family: 'Asap', sans-serif;
}
.home .max-width{
    margin: auto 0 auto 40px;
}
.home .home-content .text-1{
    font-size: 35px;
}
.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}
.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;
}
.home .home-content .text-2 span{
    color: rgb(152, 111, 11);
}
.home .home-content .text-3 span{
    color: rgb(152, 111, 11);
    font-size: larger;
    font-weight: 700;
}
.home .home-content .hire{
    display: inline-block;
    background: rgb(152, 111, 11);
    color: white;
    font-size: 25px;
    padding: 12px 36px;
    margin-top: 60px;
    border-radius: 5px;
    border: 2px solid rgb(182, 141, 41);
    transition: all 0.3s ease;
}
.home .home-content .hire:hover{
    background: none;
    color: rgb(182, 141, 41);
}



@media(max-width: 1100px){
    .navbar .logo a{
        font-size: 17px;
        transition: all 0.3s ease;
    }
}

/* responsive media query start */
@media(max-width: 990px){
    .home .max-width {
        margin-left: 0px;
        transition: all 0.3s ease;
    }
}



/* responsive media query start */
@media(max-width: 950px){
    .max-width{
        padding: 0 50px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
        color: black;
    }
    .menu-btn:hover{
        color: rgb(90, 82, 49);
    }
    .navbar.sticky .menu-btn{
        color: white;
    }
    .menu-btn i.active:before{
        content: "\f00d";

    }
    .navbar .menu {
        position: fixed;
        height: 100vh;
        width: 100%;
        left: -100%;
        top: 0;
        background: rgb(152, 111, 11);
        text-align: center;
        padding-top: 100px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        margin: 20px 0;
        font-size: 25px;
        color: white;
    }
    .navbar .menu li a:hover{
        color: black;
    }
}


/* responsive media query start */
@media(max-width: 715px){

    .max-width{
        padding: 0 23px;
    }


    .home .home-content .text-2{
        font-size: 60px;
        transition: all 0.3s ease;
    }
    .home .home-content .text-3{
        font-size: 30px;
        transition: all 0.3s ease;
    }
    .home .home-content a{
        font-size: 20px;
    }

}


section{
    padding: 100px 0;
    /* margin-bottom: 25vh; */
}


/* about section styling */
#about{
    margin-bottom: 25vh;
}

.about{
    font-family: 'Asap', sans-serif;
}
/* .about .max-width{
    margin-left: 20px;
} */
.about .title{
    position: relative;
    font-family: 'Oswald';
    text-align: center;
    color: rgb(152, 111, 11);
    font-size: 40px;
    font-weight: 550;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
.about .title::before{
    content: "";
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 158px;
    height: 2.5px;
    background: rgb(152, 111, 11);;
    transform: translateX(-50%);

}
.about .title::after{
    content: "who i am";
    position: absolute;
    bottom: 0px;
    padding: 0 8px 0 8px;
    left: 50%;
    font-size: 18px;
    background: white;
    color: rgb(90, 82, 49);
    transform: translateX(-50%);

}
.about-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.about-content .column-right {
    text-align: center;
    width: 45%;
}
.about-content .column-right .text {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 10px;
}
.about-content .column-right .text  span{
    color: rgb(152, 111, 11);
}
.about-content .column-right p{
    text-align: justify;
}
.about-content .column-right i{
    display: inline-block;
    color: black;
    font-size: 60px;
    margin: 0 25px;
    margin-top: 30px;
    transition: all 0.3s ease-in-out;
}
.about-content .column-right p span{
    font-weight: bold;
    color: rgb(56, 51, 31);
}
.about-content .column-right .fa-linkedin{
    color: rgb(87, 145, 190);
}
.about-content .column-right .fa-github-square{
    color: black;
}
.about-content .column-right .fa-linkedin:hover{
    color: rgb(182, 141, 41);
    transform: scale(1.15);
}
.about-content .column-right .fa-github-square:hover{
    color: rgb(182, 141, 41);
    transform: scale(1.15);
}
.about-content .column-left {
    width: 55%;
}
.about-content .column-left img{
    max-width: 450px;
    border-radius: 100%;
    object-fit: cover;
}



/* responsive media query start */
@media(max-width: 1070px){
    .about-content .column-left {
        display: flex;
        justify-content: center;
        margin: 0 auto 60px;
        transition: all 0.3s ease;
        margin-bottom: 25px;
    }
    .about-content .column-right {
        flex: 100%;
    }
}
@media(max-width: 775px){
    .about-content .column-left img{
        max-width: 350px;
        transition: all 0.3s ease;
    }
}
@media(max-width: 575px){
    .about-content .column-left img{
        max-width: 350px;
        transition: all 0.3s ease;
    }
}


.container{
    width: 100%;
    height: 100vh;
    padding: 0 8%;
}

.container h1{
    text-align: center;
    padding-top: 10%;
    margin-bottom: 60px;
    font-weight: 600;
    position: relative;

}

.container .title{
    position: relative;
    font-family: 'Oswald';
    text-align: center;
    color: rgb(152, 111, 11);
    font-size: 40px;
    font-weight: 550;
    margin-bottom: 60px;
    padding-bottom: 20px;
}
.container .title::before{
    content: "";
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 250px;
    height: 2.5px;
    background: rgb(152, 111, 11);
    transform: translateX(-50%);

}
.container .title::after{
    content: "what i do / how i do it";
    position: absolute;
    bottom: 0px;
    padding: 0 8px 0 8px;
    left: 50%;
    font-size: 17px;
    background: rgb(251, 248, 242);
    color: rgb(90, 82, 49);
    transform: translateX(-50%);

}

.row{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;

}

.services{
    background: rgb(251, 248, 242);
}
@media(max-width: 1000px){
    .services{
        padding-bottom: 1000px;
    }
    /* .clients{
        margin-top: 800px;
    } */
}


.service{
    text-align: center;
    padding: 25px 10px;
    border-radius: 5px;
    font-size: 14px;
    font-family: 'Karla', 'sans-serif';
    transition: all 0.3s ease-in-out;
}
.service p{
    color: rgb(251, 248, 242);
}
.service p i{
    color: rgb(251, 248, 242);
    font-size: x-large;
}
.service i{
    font-size: xx-large;
    color: rgb(152, 111, 11);
}
.service:hover{
    transform: scale(1.05);
    cursor: auto;
    color: rgb(152, 111, 11);
}
.service:hover p{
    color: rgb(152, 111, 11);;
    transition: all 0.5s ease-in-out !important;
}
.service:hover p i{
    color: rgb(152, 111, 11);;
    transition: all 0.75s ease-in-out !important;
}
.service:hover h2{
    color: rgb(152, 111, 11);
    transition: all 0.5s ease-in-out !important;
}
.service h2{
    margin-bottom: 10px;
    color: rgb(90, 82, 49)
}




.service:hover .fa-html5{
    color: orange;
}
.service:hover .fa-css3-alt{
    color: blue;
}
.service:hover .fa-js-square{
    color: rgb(218, 187, 14);
}
.service:hover #dax,
.service:hover #powerbi
{
    margin-top: 5px;
}
.service:hover .fa-confluence,
.service:hover .fa-jira
{
    color: rgb(0, 110, 255);
    margin-bottom: 7px;
    margin-top: 7px;
}
.service:hover .fa-github-square{
    margin-bottom: 7px;
    color: black;
}
.service img{
    display: none;
}
.service:hover img{
    width: 25px;
    transition: all 0.9s ease-in-out !important;
    display: inline-block;
}




/* clients styling */

.clients{
    font-family: 'Asap', sans-serif;
    background: rgb(249, 253, 255);
    padding-top: 0;
}
/* .clients .max-width{
    margin-left: 20px;
} */
.clients .title{
    position: relative;
    font-family: 'Oswald';
    text-align: center;
    color: rgb(152, 111, 11);
    font-size: 40px;
    font-weight: 550;
    margin-bottom: 60px;
    padding-bottom: 20px;
    padding-top: 40px;
    margin-top: 40px;
}
.clients .title::before{
    content: "";
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 200px;
    height: 2.5px;
    background: rgb(152, 111, 11);
    transform: translateX(-50%);

}
.clients .title::after{
    content: "who i've done it for";
    position: absolute;
    bottom: 0px;
    padding: 0 8px 0 8px;
    left: 50%;
    font-size: 18px;
    background: rgb(249, 253, 255);;
    color: rgb(90, 82, 49);
    transform: translateX(-50%);

}

.clients .card{
    background: rgba(90, 82, 49, .55);
    border-radius: 6px;
    padding: 25px 35px;
    text-align: center;
    transition: all 0.2s ease-in-out;
}
.clients img{
    width: 400px !important;
    /* object-fit: cover; */
    border: 5px solid rgb(152, 111, 11);
    border-radius: 50%;
    transition: all 1.25s ease-in-out;
}
.clients .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;

}
.clients .card:hover{
    background: rgb(152, 111, 11);
    color: white;
}
.clients .card:hover img{
    border-color: wheat;
}
.clients .card:hover .box{
    transform: scale(1.025);
}
.clients .text{
    font-size: 23px;
    font-weight: 500;
    margin: 10px 0 7px 0;
    padding-top: 30px;
}
.clients .smrc{
    font-size: 23px;
    /* margin-bottom: 35px; */
}
.sd_best{
    max-width: 70px!important;
    border: none!important;
    display: block!important;
    margin: auto;
    padding-top: 8px;
    padding-bottom: 8px;
}
.clients .text{
    padding-bottom: 15px;
}
.clients p{
    text-align: justify;
}

.owl-dots{
    text-align: center;
    margin-top: 20px;
}
.owl-dot{
    height: 13px;
    width: 13px;
    margin: 0 5px;
    outline: none !important;
    border-radius:  50%;
    border:  2px solid rgb(152, 111, 11)!important;
    transition: all 0.3s ease-in-out;
}
.owl-dot.active{
    width: 35px;
    border-radius: 14px;
}
.owl-dot:hover{
    background: rgb(152, 111, 11)!important;
}



/* contact styling */

.contact{
    font-family: 'Asap', sans-serif;
    background: rgb(242, 239, 230);
    padding-top: 0;
}
/* .contact .max-width{
    margin-left: 20px;
} */
.contact .title{
    position: relative;
    font-family: 'Oswald';
    text-align: center;
    color: rgb(152, 111, 11);
    font-size: 40px;
    font-weight: 550;
    margin-bottom: 20px;
    padding-bottom: 20px;
    padding-top: 40px;
    margin-top: 40px;
}
.contact .title::before{
    content: "";
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 200px;
    height: 2.5px;
    background: rgb(152, 111, 11);
    transform: translateX(-50%);

}
.contact .title::after{
    content: "where i can be reached";
    position: absolute;
    bottom: 0px;
    padding: 0 8px 0 8px;
    left: 50%;
    font-size: 18px;
    background: rgb(242, 239, 230);
    color: rgb(90, 82, 49);
    transform: translateX(-50%);

}


.contact iframe{
    height: 75vh;
    width: 60vw;
    transition: all 0.3s ease-in-out;
}

@media(max-width: 1700px){
    .contact iframe{
        width: 75vw;
    }
}
@media(max-width: 1400px){
    .contact iframe{
        width: 80vw;
    }
    .clients img{
        width: 300px!important;
    }
}   
@media(max-width: 1100px){
    .contact iframe{
        width: 85vw;
    }
    .clients img{
        width: 250px!important;
    }
}   
@media(max-width: 850px){
    .contact iframe{
        width: 85vw;
    }
}   


.scroll-up-btn{
    position: fixed;
    height: 45px;
    width: 42px;
    background: rgb(152, 111, 11);
    right: 30px;
    bottom: 30px;
    text-align: center;
    line-height: 45px;
    color: white;
    z-index: 999;
    font-size: 30px;
    border-radius: 6px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease-in-out;
}
.scroll-up-btn.show{
    opacity: 1;
    pointer-events: auto;
}

